<div class="container my-5">
    <!-- Hero Section -->
    <div class="row align-items-center mb-5">
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-primary mb-3">
                A Smart Platform for Online
                <br>Wedding Catering Management System
              </h1>
            <p class="fst-italic text-secondary mb-3">"Our menu, Your Way!"</p>
            <p class="text-muted">
              A complete Wedding Catering Management system to plan, organize, and display curated vegetarian and non‑vegetarian menus for every occasion. Easily manage menu details, pricing, and availability in one place.
            </p>
        </div>
        <div class="col-lg-6">
            <img src="assets/home_img.jpg" alt="Restaurant" class="img-fluid rounded shadow-lg">
        </div>
    </div>

</div>